// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #000000;

// Override Bootstrap color system

$orange: #1928ff;

// Override Bootstrap default state colors

$primary: $orange;
